* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;


}

body {
    background-color: #ECD8CC;
    padding: -30px;


}

h1 {
  display: flex;
  justify-content: flex-start;
  font-size: 90px;
  padding-top: 30px;
  color: #FE7171 ;
  text-shadow: 2px 4px white;
  font-family: 'Lobster', sans-serif;
  border: 5px solid;
}

h2 {
font-family: 'Lobster', sans-serif;
text-shadow: 2px 2px white;
font-size: 40px;
color: #FE7171;
padding-bottom: 30px;
display: flex;
justify-content: center;

}




p {
font-family: 'Nanum Gothic', sans-serif;
color: black;

}

.missionstatement {
display: flex;
justify-content: center;
margin: auto;
padding: 50px;
font-size: 25px;
font-weight: bold;

}




.center {
display: flex;
justify-content: space-evenly;
flex-direction: row;
flex-wrap: wrap;
padding-bottom: 30px;
border:

}

.stats {
font-size: 25px;
width: 30%;



}

#a {
border: 3px solid #6A9488;
padding: 7px;

}

#b {
border: 3px solid #6A9488;
padding: 7px;

}

#c {
border: 3px solid #6A9488;
padding: 7px;

}

.top {
  display: flex;
  flex-direction: row;
  background-color: #6A9488;
  border: 5px dashed yellow;
}

.top img {
  margin-left: 200px;
  margin-right: 0px;
}

nav {
  font-family: 'Lobster', sans-serif;
  color: #6A9488;
  text-shadow: 1px 1px white;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  /* margin-left: 50px; */
  font-size: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #E6AB93;

}

.logo {
display: flex;
justify-content: flex-start;
width: 15%;
height: 25%;
/* padding-right: 50px; */
position: relative;
top: -16px;
left: -150px;
border-style: solid;
/* margin-right: 50px; */

}
.resourcestatement {
  display: flex;
  justify-content: center;
  font-family: 'Nanum Gothic', sans-serif;
  color: black;
  padding: 50px;
  border-style: solid;
}

h2 {
  font-family: 'Lobster', sans-serif;
  font-size: 30px;
  padding: 30px;
}

.DVhotlinenumber {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 20px;
  padding-left: 90px;
}

.sexualassault {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 20px;
    padding-left: 90px;
}

.womenindistress {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 20px;
    padding-left: 90px;
}


.picture {
  width: 50%;
  float: right;
  clear: right;
}
.space {
  width: 50%;
  float: left;
  clear: left;
}
.womenpicture {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 25%;
}

.hotlinedesicription {
  font-size: 20px;
  padding: 5px;
  padding-left: 5%;
  padding-bottom: 20px;
}

.volunteerdescription {
  font-size: 20px;
  padding: 5px;
  padding-left: 5%;
  padding-bottom: 20px;
}

.donatedescription {
  font-size: 20px;
  padding: 5px;
  padding-left: 5%;
  padding-bottom: 20px;
}

.hotline {
  color: black;
}

.hothot {
  color: #6A9488;
  display: flex;
  justify-content: flex-start;
}

.volvol {
  color: #6A9488;
  display: flex;
  justify-content: flex-start;
}

.dondon {
  color: #6A9488;
  display: flex;
  justify-content: flex-start;
}


/* .hispanic {
padding: 0;
margin: 0;
font-size:

}

.black {
padding: 0;
margin: 0;

} */
