* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.ahnou {
  float: center;
  color: white;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dare {
  float: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kar {
  background-color: #6A9488;
  padding: 15px;
}

.kim {
  background-color: #E6AB93;
    padding: 15px;
}

.lin {
  background-color: #6A9488;
    padding: 15px;
}

.madi {
  background-color: #E6AB93;
    padding: 15px;
}

.headbro {
  padding: 15px;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid;
  border-color: #6A9488;
}

.basicabout {
  background-color: #E6AB93;
  padding: 15px;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.fiteme {
  color: white;
}
