* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.resourcestatement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  font-family: "Nanum Gothic";
  padding: 15px;
  border: 5px solid;
  border-color: black;
  margin: 15px;
}

.nou {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #E6AB93;
  margin: 15px;
  font-family: 'Nanum Gothic';
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: auto;
  padding: 15px;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #FE7171;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.box {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.box::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid;
  border-color: #6a9488;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.right::after {
  left: -16px;
}

.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

.lmao {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lmaotwo {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-family: 'Nanum Gothic';
}
